@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
html,
body {
  height: 100%;
  width: 100%;
}
.container{
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(79, 153, 223);
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-container{
  width: 50vw;
  background-color: azure;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}
.todo-input{
  display: flex;
  gap: 0.5rem;
  height: 8vh
}
.todo-input input{
  padding: 0.3rem;
  border: 2px solid black;
  width: 31vw;
  border-radius: 0.35rem;
  font-size: 1.2vw;
}
.btn{
  padding: 1rem;
  border: 2px solid black;
  background-color: rgb(79, 153, 223);
  font-weight: 900;
  font-size: 1.2vw;
  border-radius: 0.35rem;
}
.todolists{
  /* border: 1px solid black; */
  min-height: 7vh;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.list-wrapper-main{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  background-color: rgb(78, 77, 77);
  border-radius: 0.35rem;
  padding: 0.2rem;

}
.li-wrapper{
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}
.li-wrapper span{
  color: azure;
}
.del-btn{
  padding: 0.3rem;
  border: 2px solid black;
  background-color: rgb(79, 153, 223);
  font-weight: 900;
  font-size: 1.1vw;
  border-radius: 0.35rem;
}
.strike{
  text-decoration: line-through;
}

/* media query */
@media (max-width:320px) {
  .app-container{
    min-height: 60vh;
    width: 90vw;
  }
  .todo-input{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 20vh;
    border:1px solid black;
  }
  .todo-input input{
    width: 100%;
    height: 5vh;
    font-size: 5vw;
  }
  .btn{    
    font-size: 5vw;
  }
  .list-wrapper-main{
    flex-direction: column;
    gap: 0rem;
  }
  
  .li-wrapper span{
    font-size: 5vw;
  }
  .del-btn{
    font-size: 5vw;
  }
}